{% extends "base.html" %}
{% block content %}
  
<h1>{{Poll.name}}</h1>

  

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Vaihtoehdon nimi</th>
        <th>Kuvaus</th>
        <th>Ääniä</th>
        <th></th>
        <th></th>
        
        
      </tr>
    </thead>

    <tbody>
      {% for Option in options %}
        <tr>
          <td>{{Option.name}}</td>
          <td>{{Option.desc}}</td>
          
          <td>{{Option.votes}}</td>

          <td><a href='{{base_path}}/Polls/editOption/{{Option.optionID}}'>Muokkaa vaihtoehtoa</a></td>
          

          <td>
          <form method="post" action="{{base_path}}/Polls/destroyOption/{{Option.optionID}}">
          <input type="hidden" name="pollID" value="{{Poll.pollID}}">  
          <button type="submit" class="btn btn-danger">Poista</button>
          </form>
          </td>
          
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <div><a href="{{base_path}}/Polls/{{Poll.pollID}}/addOption">Lisää vaihtoehto</a></div>

  {% if message %}
  <div class="alert alert-success">
  {{message}}
  </div>
  {% endif  %}

{% endblock %}