{% extends "base.html" %}
{% block content %}
  
<h1>Äänestykset</h1>

  

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Äänestyksen nimi</th>
        <th>Alkupäivä</th>
        <th>Loppupäivä</th>
        
        <th></th>
      </tr>
    </thead>

    <tbody>
      {% for Poll in polls %}
        <tr>
          <td>{{Poll.name}}</td>
          <td>{{Poll.startDate}}</td>
          <td>{{Poll.endDate}}</td>
          
          <td><a href='?'>Äänestykseen</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}