{% extends "base.html" %}
{% block content %}
  <h1>Käyttäjätietojen muokkaus</h1>

  <form method="post" action="{{base_path}}/game">
    <div class="form-group">
      <label>Käyttäjänimi</label>
      <input type="text" name="voterName" class="form-control">
    </div>

    <div class="form-group">
      <label>Salasana</label>
      <input type="text" name="password" class="form-control">
    </div>

    <div class="form-group">
      <label>Etunimi</label>
      <input type="text" name="firstName" class="form-control">
    </div>

    <div class="form-group">
      <label>Sukunimi</label>
      <textarea name="lastName" class="form-control"></textarea>
    </div>

    <div class="form-group">
      <label>Sähköposti</label>
      <textarea name="email" class="form-control"></textarea>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Tallenna muutokset</button>
      <button type="submit" class="btn btn-danger">Poista</button>
    </div>

    
  </form>
{% endblock %}